html, body {
    background: url("../img/bg.jpg") center center no-repeat;
    height: 100%;
    background-size: cover;
}

@media(max-width: 768px) {

    #logo img {
        width: 50%;
    }

    #counter .countdown {
        font-size: 1.2em !important;
    }

    #icons .fa {
        margin: 10px 0px 0px !important;
        font-size: 2em;
    }
}

@media(min-width: 413px)
    and (max-width: 733px) {

        #logo img {
            width: 20%;
        }
}

#logo img {
    margin: 0 auto;
    padding-top: 20px;
}

#intro p {
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 1.8em;
}

#counter .countdown {
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 3em;
}

#icons {
    text-align: center;
}

#icons .fa {
    color: white;
    margin: 15px 15px;
    position: relative;
    bottom: 0;
    transition: all 0.2s ease-in-out;
}

#icons .twitter:hover {
    color: #6cadde;
    bottom: 5px;
}

#icons .facebook:hover {
    color: #3b5998;
    bottom: 5px;
}

#icons .google:hover {
    color: #e84335;
    bottom: 5px;
}

#icons .linkedin:hover {
    color: #6cadde;
    bottom: 5px;
}

#icons .instagram:hover {
    color: #517fa6;
    bottom: 5px;
}

#signup {
    text-align: center;
}

#signup .form-inline {
    display: block;
}

#signup .btn {
    background-color: rgba(161, 186, 226, 0.5);
    color: white;
}

#signup .btn:hover {
    background-color: rgba(37, 165, 82, 1);
}